---
import Layout from '../../app/Layout.astro';
---
<Layout>
	<div class="max-w-md mx-auto my-5 card text-center">
		<div class="title">Reset Your Password</div>
		<div class="divider my-5"></div>
		<form id="forgot-password-form" class="form flex flex-col gap-4">
			<div class="input-icon">
				<!-- <i class="fas fa-envelope gray icon left-4"></i> -->
				<input 
					id="email" 
					name="email"
					type="email"  
					class="input w-full" 
					placeholder="name@email.com" 
					required
				/>
			</div>
			<label for="remember" class="text">Type your registered email to get a temporary password in your email.</label>
			<button type="submit" class="btn-blue mx-auto">Submit</button>
		</form>
		<div class="divider my-5"></div>
		<div class="flex flex-col sm:flex-row justify-center items-center gap-1">
			<p class="text pr-2">Go back to</p>
			<a href="/auth/signin" class="link active">Login</a>
		</div>
	</div>
</Layout>
