---
import Header from './Header.astro';
import Footer from './Footer.astro';
import FooterCTA from "../component/FooterCTA.astro";
import Base from './base.astro';
const {active} = Astro.props;
---
<Base>
    <Header active={active} />
    <div class="container py-5">
      <slot />
      <FooterCTA/>
      <Footer />
    </div>
</Base>