---
import Header from './Header.astro';
import Footer from './Footer.astro';
import FooterCTA from "../component/FooterCTA.astro";
import Base from './Base.astro';
const {active} = Astro.props;
---
<Base>
    <Header active={active} />
    <div class="container my-5 lg:my-7">
      <slot />
      <FooterCTA/>
      <div class="spacer"></div>
      <Footer />
    </div>
</Base>